<mat-toolbar color="primary">
  <span>To-Do List</span>
  <span class="spacer"></span>
  <button mat-icon-button class="toolbar--menu--icon favorite-icon">
    <a
      href="#"
      routerLink="/home"
      routerLinkActive="active"
      class="toolbar--menu--text">
      <mat-icon>home</mat-icon>
    </a>
  </button>
  <button mat-icon-button class="toolbar--menu--icon">
    <a
      href="#"
      routerLink="/tasks"
      routerLinkActive="active"
      class="toolbar--menu--text">
      <mat-icon>list</mat-icon>
    </a>
  </button>
</mat-toolbar>
